* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;

}

body {
     background-color: rgb(3, 18, 32);
}

nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     /* background-color: rgba(0, 0, 0, 0.425); */
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
     padding: 0px 20px;
     z-index: 15;
     transition-duration: 1s;
}

nav h1{
     font-size: 30px;
     font-family: sans-serif;
     color: blue;
}

nav h1 span{
     color: white;
}

nav div {
     display: flex;
     gap: 30px;
     justify-content: space-between;
     align-items: center;
     margin-right: 100px;
}

.serchbox{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 12px;
     width: 70%;
     background-color: blue;
     border-radius: 12px;
     overflow: hidden;
     margin-top: 28px;
}

.serchbox input{
     font-size: 19px;
     width: 100%;
     padding:10px 20px;
     border: none;

}
::placeholder{
     color: rgb(71, 71, 172);
}

.serchbox  img{
     width: 28px;

     margin-right: 10px;
     background-color: blue;
}


.banner {
     width: 100%;
     height: 90vh;
     /* background-image: url("WhatsApp\ Image\ 2024-06-27\ at\ 2.53.09\ PM.jpeg"); */
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
     padding: 0px 100px;
     position: relative;
}

.shadow {
     width: 100%;
     height: 100%;
     background: linear-gradient(rgba(0, 0, 0, 0.694) 80%,rgb(3, 18, 32));
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
}
.banner_left{
     width: 50%;
}

.banner_left,.banner_right{
     z-index: 5;
     display: flex;
     gap: 10px;
     flex-direction: column;
}

.banner_left h1 {
     font-size: 60px;
     color: white;
     color: blue;
     font-family: sans-serif;
}
.right-nav a{
     list-style: none;
     text-decoration: none;
}


.banner_left h3 {
     font-size: 30px;
     color: white;
}

.banner_left p {
     font-size: 18px;
     color: white;
}

.banner_left p {
     width: 60%;
}

.banner video {
     border: 2px solid white;
     box-shadow: 0 0 10px 5px white;
     border-radius: 20px;
}

.card {
     margin-inline: 50px;
     overflow-y: hidden;
}

.card img:hover {
     background-color: blue;
}


.cards {
     display: flex;
     background-color: rgb(3, 18, 32);
     padding: 12px 15px;
     gap: 10px;
     min-width: 100vw;
     flex-direction: column;
     min-height: 90vh;


}

.cards h1 {
     margin: 0 65px;
     color: rgb(228, 220, 105);

}

h3 {
     color: aliceblue;
}

.card {

     display: flex;
     gap: 10px;
     /* flex-direction: column; */
     height: 450px;
     /* overflow: scroll; */
     padding: 20px 18px;
}

.card-a {
     /* background-color: #6c0202; */
     color: white;
     padding: 12px 10px;
     transition: transform 0.2s;
     border-radius: 18px;

}

.card-a img {
     border-radius: 20px;
     height: 320px;
     width: 220px;
     margin-bottom: 10px;
}

.card-a:hover {
     transform: scale(1.2);
     /* background-color:#aa0404; */
}

.card h4 {
     font-size: 18px;
}

/* width */
/* ::-webkit-scrollbar {
     width: 0px;
   } */

/* Track */
/* ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px rgb(69, 64, 64);
     border-radius: 10px;
   } */

/* Handle */
/* ::-webkit-scrollbar-thumb {
     background: rgb(16, 36, 126);
     border-radius: 10px;
   } */



::-webkit-scrollbar {
     height: 10px;

}

.card::-webkit-scrollbar-thumb {
     background: linear-gradient(to left, blue, rgb(3, 18, 32));
     border-radius: 20px;
}



@media screen and (max-width: 480px) {
     nav .right-nav a{
          display: none;
     }

     .banner{
          display: flex;
          flex-direction: column;
          gap: 63px;
          align-items: center;
          justify-content: center;
          /* margin-top: 100px; */
          padding: 100px 18px;

     }
     .banner_left{
          height: 50%;
          width: 100%;
     }
     .serchbox{
          width: 90%;
     }

     .banner_right{
          width: 100%;
          padding: 15px 0px;
     }
     .banner_right video{
          width: 90%;
          align-self: center;
     }

     .cards h1{
          font-size: 25px;
          margin: 0px;
          text-transform: capitalize;
     }
     .card{
          margin: 0;
          padding: 0;
          height: fit-content;
     }

     .card-a img{
          width:110px ;
          height: 150px;
     }


   }







/*
   nav{
     height: 100px;
     width: 100vw;
     background-color: #fff;
     display: flex;
     justify-content: space-between;
}

.contai{
     width: 100vw;
     min-height: 100vh;
     overflow-y: hidden;
}

.banner{
     width: 100vw;
     height: 75vh;
     background-color:rgb(3, 18, 32);

     position: relative;
}
.pic1{
     height: 400px;
     position: absolute;
     bottom: 80px;
     left: 8%;
}
.pic2{
     height: 400px;
     position: absolute;
     top: 80px;
     right: 8%;
}

.text{
     position: absolute;
     top: 6%;
     left: 30%;
     /* border: 2px solid black; */
/* width: 500px; */
/* background-color: lightskyblue; */
/* }
.text h2{
     font-size: 68px;
     color: darkslategrey;
}
.text h1{
     font-size: 90px;
     text-align: center;
     color: rgb(228, 220, 105);
}

.text h3{
     font-size: 25px;
     text-align: end;
     color: darkgreen;
}
.border-deg{
     border: 4px solid red;
     position: absolute;
     top: 10%;
     left: 5%;
     width: 90vw;
     /* background-color: blue; */
/* background: linear-gradient(lightskyblue, gray); */
/* height: 85%; */
/* border-top-left-radius: 290px; */
/* border-bottom-left-radius: 180px;
     border-top-right-radius: 300px; */